* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    text-align: center;
    background-image: url("images/greenfield.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 950px;
    background-position: center;
    font-family: 'VT323', monospace !important;
  }

  h1 {
    color: purple;
    font-size: 50px;
  }

  h2 { 
    color: hotpink;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  form {
    padding-bottom: 50px;
    margin: 0 auto; 
    width: 600px; 
  }
  
  .form-group, select{
    margin-right: 10px;
  }

  #pet-info li{
    display: inline;
    font-size:30px;
    color: purple;
    padding-right: 20px;
  }

  .create-pet{
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .pet-image{
    /* position: relative; */
    padding-top: 300px;
  }

